* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Branding-Color: #ff7f50;
  --Secondary-Color: cornsilk;
  --Highlight-Color: #d2691e;
  --Muted-Color: #a9a9a9;

  --margin-Level-1:  1px;
  --margin-Level-2:  5px;
  --margin-Level-3:  10px;
  --margin-Level-4:  15px;
  --margin-Level-5:  20px;

  --padding-Level-1: 1px;
  --padding-Level-2: 5px;
  --padding-Level-3: 10px;
  --padding-Level-4: 15px;
  --padding-Level-5: 20px;

  --Font-Small: 12px;
  --Font-Medium: 16px;
  --Font-Large: 20px;
  --Font-Extra-Large: 30px;
  --Font-Double-Extra-Large: 50px;
  --Font-Triple-Extra-Large: 100px;
}

.introduction {
  background-color: var(--Secondary-Color);
  padding: var(--padding-Level-5);
}

.introduction > h1 {
  color: var(--Branding-Color);
  font-size: var(--Font-Triple-Extra-Large);
}